# Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/